p,
h1 {
    color: white;
}

header {
    display: flex;
    gap: 30px;
    background: transparent;
    backdrop-filter: blur(8px);
    border: 2px solid white;
}

header a {
    text-decoration: none;
    color: black;
}

header > .droite > a {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}

header .droite,
header .gauche {
    margin-top: auto;
    margin-bottom: auto;
}

.logo{
    width: 180px;
    height: 100px;
}


