p,
h1 {
    color: white;
}

header {
    background-color: black;
    display: flex;
    gap: 30px;
}

header a {
    text-decoration: none;
    color: white;
}

header > .droite > a {
    background-color: orange;
    padding: 10px;
}

header .droite,
header .gauche {
    margin-top: auto;
    margin-bottom: auto;
}
